@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{background-image: url("darksouls.gif");
	 background-repeat: no-repeat;
	 height: 100%;
     background-size: cover;
     font-family: 'Josefin Sans', sans-serif;	 }

#logo{background-color: #1B2631;
      color: #E5E8E8;
	  float: top;
	  width: 100%;
	  border-top-left-radius: 25px;
	  border-top-right-radius: 25px;
	  }

#lateral{
	background-color: #212F3C;	
	width: 25%;
	float: left;
	height: 342px;
}
#hlink{text-decoration: none;
       color: #E5E8E8;}

ul{list-style-type: none;}

#centro{float: left;
		background-color: #2E4053;
		width: 50%;	
		height: 342px;
		color: #E5E8E8;}

#logtype{float: left;
		margin: 20px;
        height: 88px;
        width:  88px;	}
	
#direita{float: left;
         background-color: #212F3C;
		 width: 25%;
		 height: 342px;
		 color: #E5E8E8;}

		 
#rodape{float: bottom;
	background-color: #5D6D7E;
	color: #E5E8E8;
	border-radius: 25px
	}

#books{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#books:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

center{color: white;}

table, th, td {
  border: 1px solid white;
  background-color: #212F3C;
}	

	